/* Estilos del cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    background-image: url('../img/fondobird.gif');
    background-size:cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    background-color: aqua;
}

/* Estilos del encabezado principal */
h1 {
    color: grey;
    text-align: center;
    font-size: 250%;
}

