/* Estilos del cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    background-image: url('../img/fondo.jpeg');
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Estilos del encabezado principal */
h1 {
    color: #ffffff;
    text-align: center;
    font-size: 250%;
}